.video-info {
  padding: 1rem;
  border-bottom: solid 1px var(--clr-dark-2);
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 550;
  margin-bottom: 1rem;
}

.channel-avatar {
  margin-right: 1rem;
}

.channel-info {
  display: flex;
  align-items: center;
  width: max-content;
  margin-bottom: 0.5rem;
  padding: 1rem 0rem;
}

.title-container {
  padding-bottom: 0.25rem;
  border-bottom: solid 1px var(--clr-dark-2);
}

.add-to-playlist {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-light-2);
  width: max-content;
  border-radius: 10px;
  cursor: pointer;
}

.add-to-playlist p {
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 550;
}

.desc {
  width: 80%;
}

@media (max-width: 640px) {
  .desc {
    width: 95%;
  }
}
