.video-info {
  padding: 1rem;
  width: 100%;
}

.title {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.channel-avatar {
  margin-right: 1rem;
}

.channel-info {
  display: flex;
  align-items: center;
  width: max-content;
}

.title-container {
  padding-bottom: 0.25rem;
}

.add-to-playlist {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-light-2);
  width: max-content;
  border-radius: 10px;
  cursor: pointer;
}

.add-to-playlist p {
  font-size: 1rem;
  margin-left: 1rem;
}

.action-buttons {
  display: flex;
  gap: 3rem;
}

@media (max-width: 640px) {
  .action-buttons {
    gap: 1rem;
  }
}
