.video-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
}

.video-list-header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}

.video-list-header__container p {
  margin-right: 1rem;
}

.video-list-header__title {
  color: #1f2937;
  font-size: 1.5rem;
  font-weight: 550;
  margin: 1rem;
  margin-left: 0rem;
}

@media (max-width: 640px) {
  .video-list {
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
}
