.videocard {
  width: 230px;
  cursor: pointer;
}

.video-thumbnail {
  max-width: 100%;
}

.video-title {
  padding: 0.5rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 640px) {
  .videocard {
    width: 100%;
    margin: 0rem auto 2rem auto;
  }
}
