.videocard {
  width: 250px;
  cursor: pointer;
}

.videocard:focus {
  border: solid 1px var(--clr-dark-2);
}

.video-thumbnail {
  max-width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.video-info-container {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.video-info-container img {
  max-width: 2rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.video-title {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-title:hover {
  text-decoration: none;
}

@media (max-width: 640px) {
  .videocard {
    max-width: 340px;
    width: 100%;
    margin: 0rem auto 2rem auto;
  }

  .video {
    width: 100%;
  }
}
