.navbar {
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #d1d5db;
  position: sticky;
  top: 0px;
  opacity: 1;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 0.5rem 1rem;
}

.brand-name {
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 640px) {
  .navbar-container {
    width: 100%;
  }
}
