.navbar {
  width: 100%;
  background-color: var(--clr-dark-3);
  border-bottom: solid 1px var(--clr-dark-2);
  position: sticky;
  top: 0px;
  opacity: 1;
}

.navbar-container {
  grid-column-gap: 2rem;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 1rem;
}

@media (max-width: 640px) {
  .navbar-container {
    width: 100%;
  }
}
