.video-player {
  width: 80%;
  margin: auto;
}

.react-player {
  height: 90vh;
}

.react-player-mobile {
  display: none;
}

.input-text {
  padding: 0.5rem;
  font-size: 1rem;
}

.create-new-playlist {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: solid 1px var(--gray-100);
  align-items: center;
}

.list {
  list-style: none;
}

@media (max-width: 640px) {
  .video-player {
    width: 95%;
  }

  .react-player-desktop {
    display: none;
  }

  .react-player {
    height: 250px;
    width: 95%;
    margin: auto;
  }
}
