.homepage-main {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 1rem;
}

.main,
.navpill-container {
  width: 100%;
}
.main {
  background-color: var(--clr-dark-3);
  min-height: 100vh;
}

.navpill-container {
  margin: auto;
  background-color: var(--white);
  border-bottom: solid 1px var(--gray-100);
  position: fixed;
  padding-right: 1rem;
}

@media (max-width: 640px) {
  .homepage-main {
    width: 100%;
    padding: 1.5rem 0rem;
    grid-template-columns: 1fr;
  }
}
