.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 60;
  display: none;
}

.show-modal {
  display: flex;
}

.modal {
  background-color: white;
  border-radius: 10px;
  max-width: 350px;
}

.checkbox {
  cursor: pointer;
}

.playlist-selector {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input-text {
  border: none;
  outline: none;
  color: var(--gray-700);
  border: solid 1px var(--gray-600);
}

.btn-create-playlist {
  max-width: 100px;
  background: #006dfb;
  color: white;
}

.select-playlist {
  display: flex;
  justify-items: center;
}

.playlist-name {
  margin-left: 1rem;
}

.existing-playlists {
  padding: 1rem;
  height: 220px;
  overflow-y: scroll;
  border-radius: 10px;
}

.existing-playlists {
  overflow-y: scroll;
  overflow-x: hidden;
}

.no-playlists-container {
  height: 200px;
  position: relative;
}

.no-playlists {
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.delete-playlist {
  margin-left: auto;
  cursor: pointer;
}

.select-playlist {
  width: 100%;
  padding: 0.5rem 0rem;
}

@media (max-width: 640px) {
  .modal {
    width: 95%;
  }
}
