.logo-icon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--logo);
  margin-right: 0.5rem;
}
.logo-name {
  font-size: 1rem;
}

.auth-form-container {
  height: 80vh;
  display: grid;
  place-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin: 0rem auto 2rem auto;
  justify-content: center;
  align-items: center;
  min-height: 325px;
  width: 350px;
  border-radius: 5px;
  padding: 2rem;
  border: solid 1px var(--gray-200);
}

.auth-container {
  display: flex;
  justify-content: center;
}

.form-title {
  font-weight: bold;
  color: var(--gray-700);
  font-size: 1.25rem;
  margin: 0rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.text-input {
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  color: var(--gray-700);
  margin-bottom: 1rem;
  border: solid 1px var(--gray-200);
}

.btn {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: var(--gray-900);
  color: var(--white);
  padding: 0.5rem;
  font-weight: 600;
  border: none;
  outline: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--gray-700);
}

.btn:focus {
  box-shadow: 0px 0px 0px 3px var(--gray-400);
}

.signup-link {
  font-weight: 550;
  color: var(--gray-900);
  margin-bottom: 0rem;
}

/* .dark-text {
  color: var(--accent);
  font-size: var(--font-m);
}

.dark-text:hover {
  text-decoration: underline;
  cursor: pointer;
} */

@media (max-width: 640px) {
  .auth-form {
    min-width: auto;
    width: 95%;
  }
}
