@import url("https://spaceuicss.netlify.app/main.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap");
@import url("react-toastify/dist/ReactToastify.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #2563eb;
  --clr-dark-3: #e5e7eb;
  --clr-dark-2: #1f2937;
  --clr-dark-1: #374151;
  --clr-focus: rgba(59, 130, 246, 0.5);

  --txt-light-1: #374151;
  --txt-light-2: #1f2937;
  --txt-light-3: #111827;

  --toastify-color-dark: #006dfb;
  --toastify-color-success: var(--green-500);
  --toastify-color-warning: var(--yellow-500);
  --toastify-color-error: var(--red-500);
}

body,
.App {
  font-family: "Inter", sans-serif;
  background-color: var(--clr-dark-3);
  color: var(--txt-light-1);
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.flex-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-bc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-400);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--medium-gray);
}

.txt-input {
  width: 100%;
  background-color: inherit;
  border: solid 2px var(--clr-dark-1);
  outline: none;
  padding: 0.75rem 0.5rem;
  margin-bottom: 1rem;
  color: inherit;
  font-size: 1.125rem;
  line-height: 1.5rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.txt-input:focus {
  border: solid 0.125rem var(--clr-focus);
}

.button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: solid 1px var(--clr-primary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.button:focus {
  outline: solid 2px var(--clr-focus);
}

.button-primary {
  background-color: var(--clr-primary);
  color: var(--txt-light-1);
}
