.searchbar {
  color: var(--txt-light-1);
  background-color: var(--clr-dark-3);
  display: flex;
  align-items: center;
  width: 50%;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.search-icon {
  font-size: var(--font-xl);
  display: flex;
  padding-left: 1rem;
  align-items: center;
  font-weight: bold;
  color: var(--txt-light-1);
  border-radius: 10px;
  border-right: none;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.searchbar__input {
  background: var(--clr-dark-3);
  color: var(--txt-light-1);
  border-left: none;
  padding: 0.75rem;
  font-size: var(--font-md);
  width: 100%;
  border: transparent;
  outline: transparent;
}

@media (max-width: 640px) {
  .searchbar {
    width: 80%;
  }
}
